CONFIG_LOCALVERSION="-imx6-sr"
CONFIG_OVERLAY_FS=y
CONFIG_CC_STACKPROTECTOR=y
# CONFIG_CC_STACKPROTECTOR_NONE is not set
CONFIG_CC_STACKPROTECTOR_STRONG=y
# CONFIG_NF_CONNTRACK_SECMARK is not set
CONFIG_NF_NAT_REDIRECT=m
CONFIG_NETFILTER_XTABLES=m
CONFIG_NETFILTER_XT_NAT=m
CONFIG_NETFILTER_XT_TARGET_NETMAP=m
CONFIG_NETFILTER_XT_TARGET_REDIRECT=m
CONFIG_NF_LOG_ARP=m
CONFIG_NF_REJECT_IPV4=m
CONFIG_NF_NAT_MASQUERADE_IPV4=m
CONFIG_IP_NF_IPTABLES=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_TARGET_REJECT=m
CONFIG_IP_NF_NAT=m
CONFIG_IP_NF_TARGET_MASQUERADE=m
CONFIG_IP_NF_TARGET_NETMAP=m
CONFIG_IP_NF_TARGET_REDIRECT=m
CONFIG_INET_XFRM_MODE_TRANSPORT=m
CONFIG_NET_L3_MASTER_DEV=y
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_IPVLAN=m
# CONFIG_MX3_IPU is not set
CONFIG_MXC_IPU=y
CONFIG_DRM_IMX_IPUV3=y
# CONFIG_NET_EMATCH_CANID is not set
CONFIG_CAN=m
CONFIG_CAN_RAW=m
CONFIG_CAN_BCM=m
CONFIG_CAN_GW=m
#
# CAN Device Drivers
#
CONFIG_CAN_VCAN=m
CONFIG_CAN_SLCAN=m
CONFIG_CAN_DEV=m
CONFIG_CAN_CALC_BITTIMING=y
# CONFIG_CAN_LEDS is not set
CONFIG_CAN_FLEXCAN=m
# CONFIG_CAN_GRCAN is not set
# CONFIG_CAN_TI_HECC is not set
CONFIG_CAN_C_CAN=m
# CONFIG_CAN_C_CAN_PLATFORM is not set
CONFIG_CAN_C_CAN_PCI=m
# CONFIG_CAN_CC770 is not set
# CONFIG_CAN_IFI_CANFD is not set
# CONFIG_CAN_M_CAN is not set
# CONFIG_CAN_RCAR is not set
# CONFIG_CAN_RCAR_CANFD is not set
CONFIG_CAN_SJA1000=m
# CONFIG_CAN_SJA1000_ISA is not set
# CONFIG_CAN_SJA1000_PLATFORM is not set
# CONFIG_CAN_EMS_PCMCIA is not set
CONFIG_CAN_EMS_PCI=m
# CONFIG_CAN_PEAK_PCMCIA is not set
CONFIG_CAN_PEAK_PCI=m
CONFIG_CAN_PEAK_PCIEC=y
CONFIG_CAN_KVASER_PCI=m
CONFIG_CAN_PLX_PCI=m
# CONFIG_CAN_SOFTING is not set
#
# CAN SPI interfaces
#
# CONFIG_CAN_MCP251X is not set
#
# CAN USB interfaces
#
CONFIG_CAN_EMS_USB=m
CONFIG_CAN_ESD_USB2=m
# CONFIG_CAN_GS_USB is not set
CONFIG_CAN_KVASER_USB=m
CONFIG_CAN_PEAK_USB=m
CONFIG_CAN_8DEV_USB=m
# CONFIG_CAN_DEBUG_DEVICES is not set
# CONFIG_BLK_DEV_RAM_COUNT is not set
# CONFIG_BLK_DEV_RAM_SIZE is not set
# CONFIG_WL1251 is not set
# CONFIG_WL12XX is not set
CONFIG_DMA_VIRTUAL_CHANNELS=m
CONFIG_IMX_SDMA=m
CONFIG_WL18XX=m
CONFIG_WLCORE=m
CONFIG_WLCORE_SDIO=m
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_RFKILL=y
CONFIG_CRYPTO_ARC4=m
CONFIG_IWLEGACY=m
CONFIG_IWL4965=m

CONFIG_SLUB=y
CONFIG_SLUB_CPU_PARTIAL=y

CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_DYNAMIC_DEBUG=y

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CGROUP_PERF=y

CONFIG_VIDEO_V4L2=n
# CONFIG_VIDEO_MXC_PXP_V4L2 is not set
# CONFIG_MXC_CAMERA_OV5640_MIPI is not set
# CONFIG_MXC_CAMERA_OV5647_MIPI is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_FW_LOADER_USER_HELPER_FALLBACK is not set
# CONFIG_DVB_AU8522_V4L is not set
# CONFIG_VIDEO_MXC_CAPTURE is not set
# CONFIG_VIDEO_V4L2_MXC_INT_DEVICE is not set

# pci
CONFIG_PCI_IMX6=y
CONFIG_PCI_IMX6_HOST=y

# disable
# CONFIG_HID_BATTERY_STRENGTH is not set
# CONFIG_PCI_STUB is not set
# CONFIG_PCI_IOV is not set
# CONFIG_PCI_PRI is not set
# CONFIG_PCI_PASID is not set
# CONFIG_PCCARD is not set
# CONFIG_PCI_ATMEL is not set
# CONFIG_PCI_HERMES is not set
# CONFIG_PCIPCWATCHDOG is not set
CONFIG_ADXL345_I2C=m
CONFIG_RTC_DRV_AM1805=m
CONFIG_RTC_DRV_ABX80X=m
CONFIG_MXC_USE_VENDOR_DRIVERS=y
