[Unit]
Description=Wirepas Transport Process
Requires=network.target

[Service]
Type=simple
User=solidsense
ExecStart=/usr/bin/wm-gw --settings=/data/solidsense/wirepas/wirepasTransport1.service.cfg
Restart=always
RestartSec=6

[Install]
WantedBy=multi-user.target
