[Unit]
Description=IPv6 Packet Filtering Framework
Before=network-pre.target
Wants=network-pre.target
After=iptables.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip6tables-restore /etc/sysconfig/ip6tables
ExecReload=/usr/sbin/ip6tables-restore /etc/sysconfig/ip6tables
ExecStop=/usr/lib/systemd/scripts/iptables-flush 6
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
