[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=sys-subsystem-net-devices-wlan0.device
Requires=sys-subsystem-net-devices-wlan0.device

[Service]
Type=forking
PIDFile=/run/hostapd-wlan0.pid
ExecStartPre=-/sbin/ifup wlan0
ExecStart=@SBINDIR@/hostapd @SYSCONFDIR@/hostapd-wlan0.conf -P /run/hostapd-wlan0.pid -B

[Install]
WantedBy=multi-user.target
